.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}
.simple-login-container .btn-login{
    background-color:olivedrab;
    color:#fff;
}