<div class="simple-login-container">
  <div class="row">
    <div class="col-sm-12">
       <h2 style="text-align:center">LOGIN</h2>
          <form [formGroup]="login" (submit)="Login()">
            <!--input1-->
              <div class="row">
                  username:  <input type="text" placeholder="username"   formControlName="username" 
                  [ngClass]="{ 'is-invalid': submitted && form.username.errors}"/>
                  <div *ngIf="submitted && form.username.errors" >
                  <div *ngIf="form.username.errors.required">Please Enter Username</div>
                  </div>
              </div>
            <!--input1 end-->
            <!--input2-->
             <div class="row">
                    password:  <input type="password" placeholder="password" formControlName="password" 
                    [ngClass]="{ 'is-invalid': submitted && form.password.errors}"/>
                   <div *ngIf="submitted && form.password.errors" >
                   <div *ngIf="form.password.errors.required">Please Enter Password</div> 
                  </div>
             </div>
           <!--input2 end-->
            <div class="row">
              <button class="btn btn-block btn-login" type="submit" >Login</button>
            </div>
      </form>
  
   </div>
  </div>
</div>
  
  
  