<div class="container">
    <h3>Dashboard</h3>
    </div>
         <div class="container">
        <div class="row ">
            <div class="col-sm-4" danger>
                <!--gride1-->
                <div class="gride_css bg-1">
                   <p>Students attended/total students </p>
                    <h3>{{studentData.studentname}}</h3>
                </div> 
              </div>
              <!--gride1 ends-->
              <!-- gride2 -->
              <div class="col-sm-4">
                <div class="gride_css bg-2">
                    <p>Students attended/total students </p>
                    <h3>{{studentData.studentname}}</h3>
                </div>
            </div>
            <!-- gride2 ends -->

             <!-- gride3 -->
             <div class="col-sm-4">
                <div class="gride_css bg-3">
                    <p>Students attended/total students </p>
                    <h3>{{studentData.studentname}}</h3>
                </div>
            </div>
            <!-- gride3 ends -->
            
        </div>
  </div>


  <div id="chart">
    <apx-chart
      [legend]="chartOptions.legend"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [xaxis]="chartOptions.xaxis">
    </apx-chart>
  </div>
  
   

  