
.gride_css
{
  position: relative;
  box-shadow: 2px 5px 5px #ccc;
  border-radius: 10px;
  padding: 15px;
  min-height: 165px;
}
.gride_m2 p
{
 color: #fff;
 font-weight: 500;
}
.bg-1 
{
  background: #465aff;
}
.bg-2 
{
  background: rgb(109, 117, 97);
}
.bg-3 
{
  background: #7b7c7b;
}
.col-sm-4{
    width: 100%;
    height: 100%;
}
#chart {
  max-width: 500px;
  margin: 35px auto;
}
